<a href="https://colab.research.google.com/github/biadepaulav/Aula_PA/blob/main/C%C3%B3pia_de_C%C3%B3pia_de_6__ExerciciosPraticos_conte%C3%BAdo_at%C3%A9_listas_tuplas_dicionarios_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios, insira os valores abaixo em variáveis.

Nome: Beatriz de Paula Vaca

Turma

Curso que faz na ETEC: manha

Período do Curso: manha

### Exercícios com todos os conteúdos aplicados até o momento.

In [2]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome = "Beatriz de Paula"
Turma = "manha"

In [3]:
# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
print(nome)

Beatriz de Paula

In [ ]:
# Exercício 3 -  imprima seu nome de trás pra frente

In [ ]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."

In [22]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista=[1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
lista=["cadeira","mesa","chapeu","computador","leque"]
print(lista)

['cadeira', 'mesa', 'chapeu', 'computador', 'leque']

In [ ]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string

In [ ]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [ ]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela

In [27]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dicionario={palavra1:valor1,palavra2:valor2,palavra3:valor3}
print(dicionario)

NameError: name 'palavra1' is not defined

In [ ]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [ ]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.

In [ ]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [28]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais legal do século XXI'
x=frase[0:18]
print(x)

Cientista de Dados

# Exercícios de Manipulação de Strings

In [9]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(x)

Hello World

In [14]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x=txt[0]
print(x)

H

In [17]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x=txt[2:5]
print(x)

llo

In [19]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt = (txt.upper())
print(txt)

HELLO WORLD

In [8]:
# - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3

In [20]:
# - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(',')

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']